.image-with-text {
   display: inline-block;
}

.image-with-text img {
    display: block;
}

.image-with-text .text-overlay {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
}


.text-overlay {
    font-family: 'Rubik', sans-serif;
    
    font-weight: bold;
    animation: scale   alternate;
}

.features {
    display: flex;
    justify-content: center;

}

.features > div {
    margin: 20px;
}

.card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}